body {
    font-family: Roboto, sans-serif;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.layer1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.layer1-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin-bottom: 80px;
}

/* .layer1-subcontainer {
    max-width: 600px;
} */

.image-placeholder{
    max-width: 200px;
    max-height: 100px;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #6e7276;
}

.layer1 p {
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display:flex;
}

li {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.sign-up {
    cursor: pointer;
    padding: 8px 24px;
    background-color: #3882f6;
    border: 0px;
    border-radius: 10px;
    color: #f9faf8;
}

.layer2 h1 {
    color: #1f2937;
}