body {
    font-family: Roboto, sans-serif;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.layer1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.layer1-container {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin-bottom: 80px;
}

/* .layer1-subcontainer {
    max-width: 600px;
} */

.image-placeholder {
    max-width: 200px;
    max-height: 100px;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #6e7276;
}

.layer1 p {
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header-links {
    display: flex;
}

li {
    padding: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.sign-up {
    cursor: pointer;
    padding: 8px 24px;
    background-color: #3882f6;
    border: 0px;
    border-radius: 10px;
    color: #f9faf8;
}

.layer2 h1 {
    color: #1f2937;
}

.layer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin: 20px;
}

.square {
    box-sizing: border-box;
    max-width: 100px;
    max-height: 100px;
    padding: 50px 50px;
    border: solid #3882f6;
    border-radius: 10px;
}

.layer2container {
    display: flex;
    gap: 60px;
    
}

.entry {
    max-width: 100px;
}

.entry p {
    font-size: smaller;
    text-align: center;
}

.layer3 {
    background-color: #e5e7eb;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.layer3container {
    max-width: 860px;
}

.quotee {
    color: #1f2937;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: end;
    margin-top: -40px;
    padding-right: 60px;
}

.quote {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}

.layer4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer4container {
    background-color: #3882f6;
    color: #f9faf8;
    margin: 60px;
    padding: 20px 80px;
    border-radius: 10px;
    display: flex;
    gap: 120px;
}

.buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer4 .calltoaction p{
    margin-top: -10px;
    color: #e5e7eb;
}

.layer4container .sign-up {
    border: 2px solid #f9faf8;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}